.background {
    background-color: #180c2e;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingContainer {
    text-align: center;
    padding: 50px;
  }
  
  .loadingBox {
    margin: auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlideUp 0.5s forwards ease-out; /* Trigger on load */
  }
  
  .stepNumber {
    width: 60px;
    height: 60px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #4caf50;
  }
  
  .stepText {
    font-size: 36px;
    color: whitesmoke;
    display: flex;
    align-items: center;
  }
  
  /* Animation for the triple dots */
  .loadingDots::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: left;
    animation: dots 1s steps(3, end) infinite;
  }
  
  @keyframes dots {
    0%, 20% {
      content: '';
    }
    40% {
      content: '.';
    }
    60% {
      content: '..';
    }
    80%, 100% {
      content: '...';
    }
  }
  
  /* Fade-in and Slide-up Animation for step transition */
  @keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  